{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 80px;
    width: 30px;
}
</style>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2>
      {{ title }}
    </h2>


    <div class="row">
      <div class="column" style="float: left; width: 50%;">

        {% if post.languages %}
          <p>
            {{post.languages}}
          </p>
        {% endif %}
    
        {% if post.read_time %}
          <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}
    
        {% if post.overview %}
          <p> {{ post.overview }} </p>
        {% endif%}
        
        <!-- Left column - Product overview -->
        <div>
          <table style="width:30%;border:none;text-align:center;"">
            <tr>
              {% if post.git_link %}
                <th style="border:none;text-align:center;"><a href="{{ base_path }}{{ post.url }}" rel="permalink">
                  Explore the project
                </a></th>
                <th style="border:none;"><a href="{{post.git_link}}">
                  Explore the code
                </a></th>
              {% elsif post.permalink %}
                <th style="border:none;"><a href="{{ base_path }}{{ post.url }}" rel="permalink">
                  Explore the project
                </a></th>
              {% endif %}
            </tr>
          </table>
        </div>
      </div>
      <!-- Right column - Image -->
      <div class="column" style="float: left; width: 50%">
        {% if post.cover_image %}
        <div class="portrait">
          <img src="/images/{{post.cover_image}}" alt="emotion-recognition-abstract"/>
        </div>
        {% else %}
          <div>
            No image
          </div>
        {% endif %}
      </div>
    </div>
  </article>
</div>